body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    background: #2b2f33;
    color: white;
}

.super {
    margin: 50px;
}

.super img {
    width: 250px;
    display: block;
    border-radius: 250px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.napis {
    font-weight: 700;
    text-align: center;
    margin: 20px;
    font-size: 170%;
}
.maly {
    font-weight: 500;
    text-align: center;
    margin-top: 5px;
    font-size: 120%;
}
.add {
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    padding: 15px;
    display: inline-block;
    background: #3a3f49;
    outline: none;
    border-radius: 4px;
    margin: 10px;
}

@media screen and (max-width: 430px) {
    .dd { display: block; }
}
.dd {
    font-size: 80%;
    font-weight: bolder;
    margin: 15px;
}
.btn {
    position: relative;
    padding: 15px;
    
    
    outline: none;
    overflow: hidden;
    border-width: 0;
    font-size: 80%;
    font-weight: bolder;
    outline: none;
    border-radius: 4px;
    
    color: #ecf0f1;
    transition: background-color .3s;
}

.btn>* {
    position: relative;
}

.btn span {
    display: block;
    padding: 12px 24px;
}

.btn:before {
    content: "";
    font-family: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    padding-top: 0;
    border-radius: 100%;
    background-color: rgba(236, 240, 241, .3);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn:active:before {
    width: 120%;
    padding-top: 120%;
    transition: width .4s ease-out, padding-top .4s ease-out;
}

.dodaj {
    background-color: #7289DA;
}

.dodaj:hover {
    background-color: #566b7c;
}

.git {
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    padding: 20px;
    background-color: #24292e;
}
.tg {
    background: #3a3f49;
}
.tg:hover {
    background-color: #525b64;
}
.git:hover {
    background-color: #121416;
}

.przyciski {
    width: 50%;
    text-align: center;
    margin: 25px auto;
    display: block;
}

.karty {
    margin-top: 10px;
}

@media screen and (min-width: 768px) {
    .karty {
        display: flex;
    }
}

.karta {
    margin: 15px;
    background-color: #222222;
    color: white;
    padding: 15px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    border-radius: 2px;
    transition: 500ms;
    position: relative;
    bottom: 0;
}

.big {
    font-size: 180%;
    margin-bottom: 10px;
    display: block;
}

.karta:hover {
    bottom: 5px;
}

a {
    text-decoration: none;
    color: inherit;
    margin-left: 15px;
}

a:hover {
    color: #7289DA;
}

nav {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    background: #008b49;
    padding: 20px;
}

.komendy {
    border-radius: 2px;
    padding: 5px;
}
.komendy h2 {
    display: block;
}


@media screen and (min-width: 768px) { 
    .box {display: flex;} 
    table .gora td { padding: 5px 40px 5px 5px; }
    table tr:not(.gora) td { padding: 12px 40px 12px 12px; }
    table, .komendy { margin: 20px }
    
}

table {
    border-collapse: collapse;
}

table .gora td {
    
    background: #008b49;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
table .gora td:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 10px;
}
table .gora td:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-right: 10px;
}
table tr td {
    padding: 5px 40px 5px 5px;
}
table tr:not(.gora) td {
    
    transition: 0.3s cubic-bezier();
}
table tr:not(.gora):hover td {
    background: #3a3f49;
}